.registred-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.registred-div h3 {
    margin: 0;
}
.registred-div a:hover {
    color: #545454;
}

#basic {
    display: flex;
    flex-direction: column;
    align-items: center;
/*     justify-content: center; */
    width: 800px;
}

#basic>* {
    width: 80%;
}