@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: inherit;
}

/* Gör canvas till 100% av det som syns i webbläsaren */
:root{
    height: 100vh;
    width: 100vw;
    /* --line-height är namnet på variabeln för radhöjd, i var är namnet på variabeln för textstorlek */
    --line-height: calc(1.2* var(--font-size));
    /* variabel för textstorlek som ser bra ut på alla skärmar och även i liggande läge */
    /* 20px är max önskade storleken på skärmen, i maxsiffran får vi fram vad den riktiga skärmstorleken är, den minst applicerbara */
    --font-size: min(20px, max(12px, (16px + (100vw - 1080px) / 100)));
}

html, body {
height: 100%;
width: 100%;
}



/* 
uträkning för höjd fördelat mellan header, main och footer. Inlagt i main.css, kopia här
main{
    height: calc(100% - (30vh - 18vh))
}

header height: 30vh;
height: 18vh;
*/
