.userData-div  {
   margin: 0 0 50px 100px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
.userData-div p {
    font-size: 20px;
    color: #545454;
}

.terms:hover {
    color: #809f8a;
}