.loadBar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.loadBar div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* byt till vw istället, t.ex.
    gap: 1vw; */
        
}