.productList-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 10rem;
    margin-right: 10rem;
}

.productList-div img {
    width: 300px;
      
}

.productList-grid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}