footer {
    width: 100%;
    background-color: #F1E2DE;
    padding-top: 1.5vh;
    padding-bottom: 0.5vh;
    position: fixed;
    bottom: 0;
    /* width: 100%;
    background-color: #F1E2DE;
    padding-top: 1.5rem;
    padding-bottom: 0.7rem;
    position: fixed;
    bottom: 0; */
}

.footer-container{
    display: flex;    
    justify-content: space-around;
    font-size: 2.3vh;
    /* font-size: 14px; */
     
   

}

.footer-container h4 {
    text-transform: uppercase;
    letter-spacing: 0.4vh;
    font-size: 2.3vh;
    /* letter-spacing: 2px; */
    /* font-size: 14px; */
     
    
}

.footer-col1 {
    display: flex;
    flex-direction: column;
    line-height: 2.5vh;
    /* line-height: 1.5em; */
}

.footer-col1 h4 {
    padding-bottom: 1vh;
    /* padding-bottom: 5px; */
}

.footer-paragraph {
    line-height: 0.8vh;
    /* line-height: 0.5em; */
    cursor: pointer;
}


.p1:hover {
color: #809F8A;
}

.p2:hover {
    color: #809F8A;
}

.p3:hover {
    color: #809F8A;
}

.p4:hover {
    color: #809F8A;
}

.footer-col2{
    display: flex;
    flex-direction: column;
    line-height: 2.7vh;
    /* line-height: 1.5em; */
}

.footer-col3 {
    display: flex;
    flex-direction: column;
    line-height: 2.5vh;
    /* line-height: 1.5em; */

}

.footer-icons {
    display: flex;
    /* justify-content: center; */
    font-size: 5vh;
    /* font-size: 27px;
    gap: 1rem; */
    gap: 2.5vh;

}

.media-icon1{
    color: #545454;
}

.media-icon1:hover{
    color :#809F8A;
    font-size: 6vh;
    /* font-size: 35px; */
}

.media-icon2{
    color: #545454;
}

.media-icon2:hover{
    color :#809F8A;
    font-size: 6vh;
    /* font-size: 35px; */
}

.media-icon3{
    color: #545454;
}

.media-icon3:hover{
    color :#809F8A;
    font-size: 6vh;
    /* font-size: 35px; */

}