footer {
    width: 100%;
    background-color: #F1E2DE;
    padding-top: 1.5rem;
    padding-bottom: 0.7rem;
}

.footer-container{
    display: flex;    
    justify-content: center;
    font-size: 14px;
    gap: 10em;
}

.footer-container p {
    margin-bottom: 5px;
}

.footer-container h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer-col1-col2-wrapper {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10em;
}

.footer-col1 {
    display: flex;
    flex-direction: column;
}

.footer-col1 p {
    cursor: pointer;
}

.footer-col1 p:hover {
    color: #809F8A;
}

.footer-col2, .footer-col3  {
    display: flex;
    flex-direction: column;
}

.footer-icons {
    display: flex;
    font-size: 27px;
    gap: 1rem;
    color: #545454;
}
.footer-icons a:hover {
    color :#809F8A;
    font-size: 35px;
}

@media only screen and (max-width: 898px) {
    .footer-container{
        gap: 6em;
    }

    .footer-col1-col2-wrapper {
        gap: 6em;
    }
}

@media only screen and (max-width: 660px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footer-container{
        gap: 4em;
    }

    .footer-col1-col2-wrapper {
        display:flex;
        flex-direction: column;
        gap: 1em;
    }

    .footer-col1 h4, .footer-col2 h4, .footer-col3 h4 {
        font-weight: 600;
    }
}

@media only screen and (max-width: 400px) {
    .footer-container{
        gap: 1em;
    }
    
    .footer-col3 {
        align-items: center;
    }
}