header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    /* height: 20em; */
    width: 100%;
    /* position: relative; */
    background-color: #F1E2DE;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header a {
    width:  20%;
    display: inline;
    justify-content: center; 
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 3rem; */
    padding-bottom: 7vh;
}

.logo img {
    /* width: 15em; */
    width: 13.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header-icons {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    color: #545454;
    right: 0.3vw;
    top: 5vh;
    width: 100vw;
    padding-right: 2.3vw;
    gap: 0.5vw;
    font-size: 5vh;
    /* right: 3px;
    top: 1em;
    width: 100vw;
    padding-right: 1em;
    gap: 5px;
    font-size: 27px; */

}

.header-adminIcon {
    width: 5vh;
    /* width: 18px; */
    color: #545454;
}

.currentItemsInCart-div {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #809f8a;
    height: 3vh;
    width: 3vh;
    border-radius: 1rem;

    position: absolute;
    right: -1vh;
    top: -1vh;

    /* height: 18px;
    width: 18px;
    padding: 2px 5px;
    border-radius: 1rem;

    position: absolute;
    right: -7px;
    top: -2px; */
}