header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;   /* fast pixelvärde för höjden är ok */
    width: 100%;
    /* position: relative; */
    background-color: #F1E2DE;
    position: fixed;
    top: 0;
    /* z-index anledning är anledningen att formuläret lyser igenom i formuläret */
    z-index: 1000;
}

header a {
    width:  20%;
    display: inline;
    justify-content: center; 
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 3rem; */
    padding-bottom: 3vmax;
    
}

.logo img {
    display: flex;
    align-items: center;
    justify-content: center;
     /* width: 15em; */
     width: 13.5vw;
}

.header-icons {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    color: #545454;
    right: 0.3vw;
    top: 2vw;
    width: 100vw;
    padding-right: 2.3vw;
    gap: 0.5vw;
    font-size: 2.2vw;
    /* right: 3px;
    top: 1em;
    width: 100vw;
    padding-right: 1em;
    gap: 5px;
    font-size: 27px; */

}

.header-adminIcon {
    width: 2.2vw;
    /* width: 18px; */
    color: #545454;
}

.currentItemsInCart-div {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #809f8a;
    height: 3vh;
    width: 3vh;
    border-radius: 1rem;
    height: 1.5vw;
    width: 1.5vw;
    border-radius: 25px;

    position: absolute;
    right: -0.5vw;
    top: -0.4vw;

    /* height: 18px;
    width: 18px;
    padding: 2px 5px;
    border-radius: 1rem;

    position: absolute;
    right: -7px;
    top: -2px; */
}