.newUser-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.newUser-div h3 {
    margin: 0;
}
.newUser-div a:hover {
    color: #545454;
}

#basic {
    display: flex;
    flex-direction: column;
    align-items: center;   
    width: 800px; /* Behövs den här? */
}

#basic>* {
    width: 80%; /* Behövs width: 800px; när vi har den här? */
}