.loggedInUser-div div {
    display: flex;

    align-items: center;
    gap: 10px;
}

.loggedInUser-div div p {
    margin: 0;
    font-size: 18px;
    font-size: 1vw;
}

.userDropdown-div {
    display: flex;
}